* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h2 {
  font-family: 'Kaushan Script';
}

@import url(https://www.fontsquirrel.com/);

nav p {
  float: center;
  position: relative;
  font-size: 60px;
  font-family: 'Kaushan Script';
  position: relative;

}

@media screen and (max-width: 600px) {
  nav p {
    font-size: 30px;
  }
}

@media screen and (min-width: 375px) {
  #shop {
    width: 100%;
  }
}

.text-center {
	color: black;
	font-family: 'Kaushan Script';
	font-size: 24px;
}

nav {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  float: center;
  position: relative;

}

nav a {
	color: black;
  font-size: 14px;
  background-color: rgba(192,192,192,0.3);}
}

.title h2 {
/*	font-color: black;*/
  text-shadow: 5px 5px 5px black;
	font-size: 34px;
  background: #DCDCDC;
  position: absolute;
  float: center;
}

.card-group {
  min-height: 200px;
}
.order {
	background: #DCDCDC;
	text-align: center;
	vertical-align: middle;
	position: relative;
  font-size: 14px;
}

@media only screen and (min-width:800px){
    .mail {
        max-width: 100%;
    }
}

/*meet the team */

/*end of our team */


/*start of other products (menwhite)*/

.white {
  background-color: black;
  display: flex;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

/*start of other products (menwhite)*/


/*Start Login Style*/

.login{
    float:left;
    background-color: #fafafa;
    height: 100%;
    border-radius: 10px 0 0 10px;
    text-align: center;
    padding-top: 100px;
}
.login h1{
    margin-bottom: 40px;
    font-size: 2.5em;
}

input[type="email"] , input[type="password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: #eeeeef;
}
input[type="checkbox"]{
    float: left;
    margin-right: 5px;
}
.login span{
    float: center;
}
.login a{
    float: right;
    text-decoration: none;
    color: #000;
    transition: 0.3s all ease-in-out;
}
.login a:hover{
  color: #9526a9;font-weight: bold
}

.login button{
    width: 80%;
    margin: 30px 0;
    padding: 10px;
    border: none;
    background-color: #9526a9;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}
.login button:hover{
    width:97%;
    font-size: 22px;
    border-radius: 5px;
    
}
.login hr{
    width: 30%;
    display: inline-block
}

.login p{
    display: inline-block;
    margin: 0px 10px 30px;
}
.login ul{
    list-style: none;
    margin-bottom:40px;  
}
.login ul li{
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}
.login ul li:hover{opacity: 0.6}
.login ul li:last-child{margin-right: 0}
.login .copyright{
    display: inline-block;
    float: none;
}

form.Search input[type=text] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid grey;
  float: left;
  max-width: 100%;
  background: #f1f1f1;
}

form.Search button {
  /*float: left;*/
  width: 20%;
  padding: 10px;
  background: #DCDCDC;
  color: white;
  font-size: 14px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.Search button:hover {
  background: #DCDCDC;
}

form.Search::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	margin-top: 5px;

}

#part1 {
    /*background-color: #DCDCDC;*/
    background-image: url("../img/mth.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    /*height: 100%;*/
/*    background-size: 100%;
    margin-left: auto;
    margin-right: auto;
*/
}

.inside { 
  margin: 0px auto;
  width: 450px;
  font-size: 12px;
  background-color: white fixed;
  height: 100%;
  opacity: 0.8;
  padding: 30px 5px;
}

 .preview-img {
  width: auto;
  padding-bottom: 100%;
  height: 0;
  object-fit: cover;
}
.container-gallery {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
  min-width: 100%;
  gap: 25px;
/*  background: teal;*/
  padding: 15px;
}
.container-gallery img {
  width: 100%;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
}
.container-gallery img:hover {
  transform: scale(1.04);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/*testimonial section*/

.input {
    position: absolute;
}

.scene {
    width: 1440px;
    max-width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 40px 30px;
}

.card-wrap {
    display: block;
    width: 300px;
    max-width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.card, .front, .back, .card-photo{
    width: 100%;
    height: 100%;
}

.card-face {
    position: absolute;
    backface-visibility: hidden;
}

.card {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s, box-shadow .4s;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    border-radius: 10px;
}

.card-photo {
    object-fit: none;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);
}

.back {
    background-color: white;
    transform: rotateY( 180deg );
    text-align: center;
    color: darkgray;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

.back p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flipcard {
    opacity: 0;
}

input:checked + .card {
    transform: rotateY( 180deg );
}

@media screen and (min-width: 960px) {
    .scene {
        display: flex;
        justify-content: space-around;
    }
}
/*end of testimonial*/

#title{
  text-align: center;
  /*color:white;*/
  font-size:30px;
  text-transform: uppercase;
  margin-top: 100px;
}
.hover-table-layout {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
     -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  max-width:800px;
  margin:0 auto;
}
.listing-item {
   display: block;
   width:100%;
    margin-bottom:20px;
    float: center;
    background: #fff;
    border-radius:10px;
    z-index:0;
    cursor:pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
        -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);

}
.listing-item:hover,  .listing-item.active{
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    transform: scale(1.03);
        -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index:2;

}
.listing-item .listing{
    padding:20px;
    position:relative;  
}
.listing-item .listing:before{
    content:"";
    position:absolute;
    top:-15px;
    left:-o-calc(50% - 15px);
    left:-moz-calc(50% - 15px);
    left:-webkit-calc(50% - 15px);
    left:calc(50% - 15px);
    border-bottom:20px solid #fff;
    border-left:20px solid transparent;
    border-right:20px solid transparent;
}

figure.image img {
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

figcaption h1{
    color:white;
    font-weight:bold;
    font-size:16px;
 	text-transform: uppercase;
}

figcaption p{
  color:white;
  font-size:12px;
}
.listing h4 {
    font-size: 13px;
    text-align: center;
    padding: 5px 10px;
    font-weight: bold;
}

.listing-item:hover figure.image figcaption{
       background: rgba(195, 39, 43, 0.6);
}

.gallery {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}


body {
  font-size: 1.2em;
  /*font-family: 'Lato';*/
  font-weight: 300;
  text-align: center;
}

.gallery {
  border-radius: 2px;
  padding: 10px;
  color: black;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
}

.gallery img {
  height: 300px;
  margin-left: 20px;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;

}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  display: flex;

}

@media only screen and (min-width: 320px){
    .gallery {
        padding: 30px;
    }
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #919491;f
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

/*button*/

#proceed button {
  float: center;
/*  height: 50px;
  width: 40%;*/
  padding: 10px;
}

@media only screen and (max-width: 375px){
    .proceed
}

span.price {
  float: right;
  color: grey;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width:540px){
    .listing-item {
   display: block;
   width: -webkit-calc(100%/3);
   width: -moz-calc(100%/3);
    width: calc(100%/3);
    }
}
@media only screen and (min-width:1024px){
    .hover-table-layout{
        padding: 30px;
    }
}

/*form */

form {
  margin:0 auto;
  width:300px
}
input {
  margin-bottom:3px;
  padding:10px;
  width: 100%;
  border:1px solid #CCC
}
button {
  padding:10px
}
label {
  cursor:pointer
}
#form-switch {
  display:none
}
#register-form {
  display:none
}
#form-switch:checked~#register-form {
  display:block
}
#form-switch:checked~#login-form {
  display:none
}

/*end of form*/

/*start of formcont*/

.container-form {
  display: inline-block;
}

.register-left {
  text-align: center;
  color: black;
  font-family: 'Kaushan Script';
  padding: 15px;
  /*flex: 1;*/
}

.register-left p {
  padding: 10px 15px 0;
}

.register-left .btn-primary {
  border-radius: 1.5rem;
  border: none;
  width: 120px;
  background: #f8f8f8;
  font-weight: 600;
  color: #555;
  margin-top: 20px;
  padding: 10px;
}

.register-left .btn-primary:hover {
  background: #000;
}

.register-right {
  border: none;
  /*background: lightgrey;*/
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  padding: 70px;
  flex: 1;
  margin-right: 10px;
  background-color: lightgrey;
  float: right; 
}

.register-right h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #555;
}

.register-form {
  padding: 30px;
}

.register-right .btn-primary {
  float: right;
  border-radius: 1.5rem;
  border: none;
  /*width: 120px;*/
  background: #f8f8f8;
  font-weight: 600;
  color: #555;
  margin-top: 20px;
  padding: 10px;
  font-family: 'Kaushan Script';
}

.register-center .btn-primary:hover {
  background: #ff5772;
}

@media screen and (max-width: 375px) {
    .container-form {
      width: 100%;
/*      height: 100%;*/
    }
}

/*end of formcont*/

/*social media*/

/* Wrapper */
.icon-button {
  background-color: grey;
  border-radius: 2.6rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  height: 2.6rem;
  line-height: 2.6rem;
  margin: 0 5px;
  margin-top: 10px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 2.6rem;
}

/* Circle */
.icon-button span {
  border-radius: 0;
  display: block;
  height: 0;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 0;
}
.icon-button:hover span {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 2.6rem;
  margin: -1.3rem;
}

/* Icons */
.icon-button i {
  background: none;
  color: white;
  height: 2.6rem;
  left: 0;
  line-height: 2.6rem;
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
  width: 2.6rem;
  z-index: 10;
}


.twitter span {
  background-color: #4099ff;
}
.facebook span {
  background-color: #3B5998;
}

.instagram span {
  background-color: #3B5998;
}

.icon-button .icon-twitter {
  color: #4099ff;
}
.icon-button .icon-facebook {
  color: #3B5998;
}
.icon-button .icon-instagram {
  color: #e01047;
}

.icon-button:hover .icon-twitter,
.icon-button:hover .icon-facebook,
.icon-button:hover .fab-instagram,
  color: white;
}

@media screen and (max-width: 375px) {
    .about-us, .part1, .part2, .inside {
      width: 100%;
/*      height: 100%;*/
    }
}

@media screen and (max-width: 375px) {
    .inside {
      width: 100%;
      height: 100%;
    }
}

@media all and (max-width: 680px) {
  .icon-button {
    border-radius: 1.6rem;
    font-size: 0.8rem;
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }

  .icon-button:hover span {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 1.6rem;
    margin: -0.8rem;
  }

  /* Icons */
  .icon-button i {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 1.6rem;
  }
  body {

    padding: 10px;
  }
 
}

/*form*/
@media only screen and (min-width:320px) {
    .login-form, .register-form .footer {
      width: 100%;
    }
}


/*start of footer */

#footer{
  background-color: #DCDCDC;
/*  height: 120px;*/
  margin-top: 30px;
  /*position: fixed;*/
  bottom: 0px;
  left: 0px;
  line-height: 10px;
  color: #aaa;
  text-align: center;
  /*max-width: 100%;*/
}

#footer h2 {
  margin-top: 20px;
  font-size: 14px;
  color: black;
}

#footer p {
  margin-top: 20px;
  font-size: 14px;
  color: black;
}

@media only screen and (min-width:320px){
    .footer, footer p {
        padding: 30px;
    }
}